.messages-overlay{
    z-index: 100;
    position: absolute;
    opacity: 0.9;
    top: 110px;
    left: 50px;
}

.message-success {
    color: #ffffff;
    background-color: #27ac14;
    border-color: #27ac14;
    padding: 2px 8px 2px 15px;
    border-radius: 4px 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
    z-index: 100;
}

.message-warning {
    color: #ffffff;
    background-color: #e99002;
    border-color: #d08002;
    padding: 8px;
    border-radius: 4px 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
    z-index: 100;
}

.message-danger {
    color: #ffffff;
    background-color: #f04124;
    border-color: #ea2f10;
    padding: 8px;
    border-radius: 4px 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
    z-index: 100;
}

#close {
    float:right;
    display:inline-block;
    padding:1px 5px 6px 6px;
    z-index: 100;
}

#close:hover{
    cursor: pointer;
}
