<div class="row">
    <div class="col-md-9 col-lg-10">
        <h3 ng-bind-html="resource_title | highlight:query"></h3>
        <p ng-bind-html="description | highlight:query"></p>
        <div class="tags" ng-if="tags.length > 0">
            <span class="label label-default" ng-repeat="tag in tags" style="background-color: #{{ tag.colour|limitTo:6 }};"  ng-bind-html="tag.display_name | highlight:query">
            </span>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <ul class="list-unstyled">
            <li><a href="{{ button_url }}" class="btn btn-primary btn-block">{{ button_text }}</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="source text-muted">Source: <span ng-bind-html="source | highlight:query"></span> </p>
    </div>
    <div class="col-md-6 text-right-not-xs">
        <p class="source text-muted"><span ng-show="last_updated">Last updated: <span am-time-ago="last_updated" ng-bind-html="last_updated | highlight:query"></span></span></p>
    </div>
</div>
