<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h1 class="page-header">Developer's Process</h1>


      <div class="developer-process row">
        <div class="col-xs-2 text-center">
          <span class="align-center fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse fa-lg"></i>
          </span>
          <h4>Find Work</h4>
        </div>
        <div class="col-xs-1">
          <i class="process-connector fa fa-chevron-right fa-5x"></i>
        </div>
        <div class="col-xs-2 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse fa-lg"></i>
          </span>
          <h4>Fork and Work</h4>
        </div>
        <div class="col-xs-1">
          <i class="process-connector fa fa-chevron-right fa-5x"></i>
        </div>
        <div class="col-xs-2 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-level-up fa-stack-1x fa-inverse fa-lg"></i>
          </span>
          <h4>Submit Pull Request</h4>
        </div>
        <div class="col-xs-1">
          <i class="process-connector fa fa-chevron-right fa-5x"></i>
        </div>
        <div class="col-xs-2 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-dollar fa-stack-1x fa-inverse fa-lg"></i>
          </span>
          <h4>Get Paid</h4>
        </div>
      </div>

      <hr>

      <div ng-show="!issues.length">
        <h2 class="sub-header">No work currently available.</h2>
      </div>

      <div ng-show="issues.length">
        <h2 class="sub-header">Available Work</h2>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Organization</th>
              <th>Project</th>
              <th>Reward</th>
              <th>Labels</th>
              <th>Forks</th>
              <th>Pull Requests</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues">
              <td>ORG</td>
              <td><a href="{{issue.html_url}}">{{issue.title}}</a></td>
              <td>$1000</td>
              <td><span ng-repeat="label in issue.labels" style="background-color:#{{label.color}}" class="label">{{label.name}}</span></td>
              <td>TBD</td>
              <td>TBD</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

