<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 devx-developer-header">
      <h1>Code with us</h1>
      Contribute code and help make services in British Columbia better for everyone.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <p></p>
      <h2><span class="label label-success">Coming Soon!</span> Pay for Pull <i class="fa fa-github"></i>
      </h2>
      <p></p>
      <p></p>
      Find work tagged with ‘$1000’. Submit the best code, and you can get paid.
      <p></p>
      <p></p>
      <div>
        <a class='btn btn-primary' href="https://github.com/BCDevExchange/rapid-adoption/wiki">How
          it will work</a>
      </div>
      <p></p>
      <p></p>
      <p></p>
      <div>
        <h2 class="sub-header">Open Opportunities</h2>
        <table class="table table-striped opportunity-list">
          <thead>
          <tr>
            <th>Partner</th>
            <th>Issue</th>
            <th></th>
            <th>Earn</th>
            <th>Skills Required</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="issue in issues">
            <td><a href="/programs/{{issue.devXProgramNm}}">{{issue.devXProgramNm}}</a></td>
            <td><a href="{{issue.html_url}}">{{issue.title}}</a>
            </td>
            <td style="text-align: right">
              <div
                ng-repeat="label in issue.labels | filter: {name: 'help wanted'}"
                style="background-color:#{{label.color}}" class="label">
                <i class="fa fa-tag"></i> {{label.name}}
              </div>
            </td>
            <td>
              <div
                ng-repeat="label in issue.labels | filter:{color:'0052cc'} as results"
                style="background-color:#{{label.color}}" class="label">
                <i class="fa fa-tag"></i> {{label.name}}
              </div>
              <div ng-if="results.length === 0"
                   style="color:red" class="label">
                <i class="fa fa-heart"></i>
              </div>

            </td>
            <td>
                    <span
                      ng-repeat="label in issue.labels  | filter: {color: 'eb6420'}">
                      <span
                        style="background-color:#{{label.color}}" class="label">
                        <i class="fa fa-tag"></i> {{label.name}}
                      </span>
                    </span>
            </td>
          </tr>
          <tr ng-if="issues.length === 0">
            <td colspan="5">List is empty.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
