<div class="container">
    <div class="row page-header">
        <div class="col-lg-12">
            <h2>Edit Programs</h2>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default md-col-6">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Markdown</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label for="comment">Type your content here:</label>
                    <textarea class="form-control" ng-model="vm.mdInput" rows="10" id="comment"></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-default, btn-block" ng-click="vm.preview()">Preview</button>

        </div>
        <div class="panel panel-default md-col-6">
            <div class="panel-heading">
                <h3 class="panel-title">Preview</h3>
            </div>
            <div class="panel-body">
                <div btf-markdown="vm.mdDisplay">
                </div>
            </div>
        </div>
    </div>
</div>