<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="bcdevxApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="bcdevxApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="bcdevxApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="bcdevxApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BCDevX</title>
  <meta name="description" content="Enhancing collaboration between Industry, Broader Public Sector, and Government, to allow for the sharing of digital resources and knowledge, and to help stimulate innovation and technology growth in BC.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./img/favicon3.ico" type="image/x-icon">
  <link rel="icon" href="./img/favicon3.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-yeti.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="IndexCtrl">

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#/home" class="navbar-brand">BCDevX</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li>
            <a href="" ng-click="scrollTo('get-involved')">Get Involved</a>
          </li>
          <li>
            <a href="" ng-click="scrollTo('explore')">Explore Catalogues</a>
          </li>
          <li>
            <a href="" ng-click="scrollTo('community')">Our Community</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://github.com/BCDevX"><img class="padded-icon padded-icon-navbar" src="img/GitHub-Mark-Light-32px.png"/>GitHub</a>
          </li>
          <li>
            <a href="http://blog.data.gov.bc.ca">Blog</a>
          </li>
          <li>
            <a href="https://twitter.com/Data_BC">Twitter</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!--<div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="jumbotron">
          <h1>BCDevX</h1>
          <p>British Columbia Developer Exchange</p>
          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>-->

  <div ng-view></div>

  <footer class="footer-padded">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Not an official BC Government website.</p>
          <p><small>Vancouver skyline photo by Kimon Berlin. Used under license (<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>)</small></p>
        </div>
      </div>
    </div>

  </footer>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/respond-minmax/dest/respond.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="licenses/licenses.js"></script>
  <script>
    $(document).on('click','.navbar-collapse.in',function(e) {
      if( $(e.target).is('a') ) {
        $(this).collapse('hide');
      }
    });
  </script>
</body>
</html>
