<div class="container">
    <div class="row page-header">
        <div class="col-lg-12">
            <h2>BCDevExchange Digital Resources</h2>
        </div>
    </div>
    <div class="row">
        <div class="resource" ng-repeat="resource in resources">
            <div class="col-md-9">
                <strong>{{ resource.title }}</strong>
                <p>{{ resource.notes }}</p>
                <span class="label label-default" ng-repeat="tag in resource.tags" ng-if="tag.display_name != 'BCDevExchange'">
                    {{ tag.display_name }}
                </span>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li><a href="http://sandbox1.data.gov.bc.ca/dataset/{{ resource.name }}" class="btn btn-primary">View on BCDC</a></li>
                    <li ng-repeat="resource_link in resource.resources">
                        <a class="btn btn-default" href="{{ resource_link.url }}">{{ resource_link.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="resource" ng-if="resources.length == 0">
            No resources available.
        </div>
    </div>
</div>