<ul class="nav navbar-nav navbar-right">

    <li ng-hide="loginlistCtrl.username" ng-cloak>
        <a href="#/signup" ng-cloak analytics-on>Sign Up</a>
    </li>
    <li ng-hide="loginlistCtrl.username" ng-cloak>
        <a href="" ng-click="loginlistCtrl.login()" ng-cloak analytics-on>Log In</a>
    </li>
    <li ng-show="loginlistCtrl.username" ng-cloak>
        <a href="#/account?id={{loginlistCtrl.userid}}" ng-cloak analytics-on>{{loginlistCtrl.username}}</a>
    </li>
    <li ng-show="loginlistCtrl.username" ng-cloak>
        <a href="" ng-click="loginlistCtrl.logout()" ng-cloak analytics-on>Log Out</a>
    </li>
</ul>
